@page "/rules"

@using Azure_Firewall_Enterprise_Policy_Manager.Data
@using System.Collections.Generic
@inject FirewallRuleService FirewallRuleService

@if (networkRule == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>Rules</h1>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
            aria-controls="nav-home" aria-selected="true">Network</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
            aria-controls="nav-profile" aria-selected="false">Application</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
            aria-controls="nav-contact" aria-selected="false">DNANT</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <button class="btn btn-primary" @onclick="AddNetRule">Add Network Rule</button>
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <th>Rule Name</th>
                                <th>Description</th>
                                <th>Source</th>
                                <th>Destination</th>
                                <th>Service</th>
                            </thead>
                            <tbody>
                                @foreach (FirewallRule p in networkRule)
                                {
                                    <tr>
                                        <td>@p.name</td>
                                        <td>@p.description</td>
                                        <td>@foreach(FirewallObjectGroup group in p.sourceObjectGroups)
                                            {
                                                <p data-toggle="tooltip" data-placement="bottom" title="@String.Join(", ",@group.firewallObjects.Select(x => x.network).ToArray())">@group.name</p><br>
                                            }
                                            @foreach(FirewallObject firewallObj in p.sourceObjects)
                                            {
                                                <p data-toggle="tooltip" data-placement="bottom" title="@firewallObj.network">@firewallObj.name</p><br>
                                            }
                                        </td>
                                        <td>@foreach(FirewallObjectGroup group in p.destinationObjectGroups)
                                            {
                                                <p data-toggle="tooltip" data-placement="bottom" title="@String.Join(", ",@group.firewallObjects.Select(x => x.network).ToArray())">@group.name</p><br>
                                            }
                                            @foreach(FirewallObject firewallObj in p.destinationObjects)
                                            {
                                                <p data-toggle="tooltip" data-placement="bottom" title="@firewallObj.network">@firewallObj.name</p><br>
                                            }</td>
                                        <td>@foreach(FirewallProtocol service in p.services)
                                            {
                                                <p data-toggle="tooltip" data-placement="bottom" title="@service.port">@service.name</p><br>
                                            }</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <button class="btn btn-primary" @onclick="AddAppRule">Add Application Rule</button>
            @foreach (string a in appRule)
            {
                <div class="card">
                    <div class="card-body">
                        <p>@a</p>
                    </div>
                </div>
            }
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <button class="btn btn-primary" @onclick="AdddNatRule">Add Desination Nat Rule</button>
            @foreach (string d in dnatRule)
            {
                <div class="card">
                    <div class="card-body">
                        <p>@d</p>
                    </div>
                </div>
            }
        </div>
    </div>
}


@code {
    private List<FirewallRule> networkRule;
    private List<string> appRule;
    private List<string> dnatRule;
    private int networkRulecount;
    private int appRulecount;
    private int dNatRulecount;
    private string message;

    protected override async Task OnInitializedAsync()
    {
        //string stringPolicy = await FirewallService.GetFirewallPolicy();
        networkRule = new List<FirewallRule>() { new FirewallRule() { name="MyTestRule", services=new List<FirewallProtocol>() { new FirewallProtocol() {name="http", port=80}}, description="My Test Description", sourceObjects=new List<FirewallObject>(){new FirewallObject() {name="MyTestObject",network="10.244.0.1"}},destinationObjects=new List<FirewallObject>(){new FirewallObject(){name="Destination",network="10.0.0.0/24"}}, sourceObjectGroups=new List<FirewallObjectGroup>(),destinationObjectGroups=new List<FirewallObjectGroup>()}}; //JObject.Parse(stringPolicy);
        appRule = new List<string>() { "App1", "App2" }; //JObject.Parse(stringPolicy);
        dnatRule = new List<string>() { "dnat1", "dnat2" }; //JObject.Parse(stringPolicy);

        networkRulecount = appRulecount = dNatRulecount = 1;
    }

    private void AddNetRule()
    {
        networkRule.Add(new FirewallRule() { name=networkRulecount.ToString() + "-MyTestRule", services=new List<FirewallProtocol>() { new FirewallProtocol() {name="http", port=80}, new FirewallProtocol() {name="http", port=443}}, description="My Test Description " + networkRulecount.ToString(), sourceObjects=new List<FirewallObject>(){new FirewallObject() {name="MyTestObject",network="10.244.0." + networkRulecount.ToString()}},destinationObjects=new List<FirewallObject>(){new FirewallObject(){name="Destination",network="10.0.0." + networkRulecount.ToString() + "/24"}}, sourceObjectGroups=new List<FirewallObjectGroup>() {new FirewallObjectGroup() {name="NewGroup", firewallObjects = new List<FirewallObject>() {new FirewallObject(){name="NewSource",network="10.0.0." + networkRulecount.ToString() + "/24"}}, description="MyGroup-Baby", references=new FirewallObjectReference()}},destinationObjectGroups=new List<FirewallObjectGroup>() {new FirewallObjectGroup() {name="DestGroup", firewallObjects = new List<FirewallObject>() {new FirewallObject(){name="Dest1",network="10.5.0." + networkRulecount.ToString() + "/24"},new FirewallObject(){name="Dest2",network="10.6.0." + networkRulecount.ToString() + "/24"}}, description="MyGroup-Baby", references=new FirewallObjectReference()}}});
        networkRulecount++;
        StateHasChanged();
    }
    private void AddAppRule()
    {
        appRule.Add("App" + appRulecount.ToString());
        appRulecount++;
        StateHasChanged();
    }
    private void AdddNatRule()
    {
        dnatRule.Add("Nat" + dNatRulecount.ToString());
        dNatRulecount++;
        StateHasChanged();
    }    
}
